body {
  font-family: "Lato", "Calibri", "Arial", "sans-serif";
}

i {
  display: inline-block;
}

.container {
  display:block;
  margin-left: 7%;
  margin-right: 10%;
  margin-top: 4%;
}

h2 {
  font-size: 32px;
}

h4 {
  font-size: 17px;
  margin-bottom: 13px;
  margin-right: 750px;
}

.main-header {
  color: #47a3da;
  display: inline-block;
  margin-bottom: 70px;
}

nav {
  position: absolute;
  margin-left: 840px;
  margin-top: -95px;
  color: #47a3da;
}

li {
  display: inline-block;
}

li:hover {
  background: #47a3da;
  color: white;
}

.nav {
  border: 4px solid #47a3da;
  border-radius: 50%;
}

.arrow {
  padding: 6px 8px 6px 8px;
}

.nav-water-drop {
  padding: 7px 10px 5px 10px;
  margin-bottom: -1px;
}

.nav-file-drawer {
  padding: 6.5px 6.5px 6.5px 6.5px;
}

.open {
  font-size: 35px;
  font-weight: 300;
  border-bottom: 1px solid rgb(230,230,230);
}

.open1 {
  margin-top: 30px;
}

.open2{
  margin-top: 60px;
}

.open3{
  margin-top: 60px;
}

.grey {
  color: rgb(230,230,230);
}

.grey:hover {
  color: #47a3da;
  transform: rotateZ(45deg);
}

.top {
  display: inline-block;
  color: #47a3da;
  margin-bottom: 25px;
}

.text-wall{
  font-size: 20px;
  color: rgb(170,170,170);
  line-height: 140%;
}
